h1{
    color:orange;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner_todos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.taskItem{
    display: flex;
padding:0px 10px;
    width:300px;
    min-height: 30px;
    border:1px solid gray;
    align-items: center;
    position: relative;
}
.taskLabel{
    font-size:17px;
    color:black;

}
.removeTask{
    width:15px;
    height:15px;
    background-color: gray;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
position: absolute;
right:10px;
cursor: pointer;
}
.taskCompleated{
    width:15px;
    height: 15px;
    border:1px solid black;
    border-radius: 100px;
    position: relative;
}
.taskCompleated img{
    max-width:15px;
    max-height: 15px;
    position: absolute;
}
input {
    min-width:320px;
min-height:25px;
margin:10px;
padding:0px 10px;
}
